@font-face {
  font-family: 'ngy2_icon_font';
  src: url("../fonts/ngy2_icon_font.woff") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #c8c8c8;
  font-weight: 600; }

canvas {
  display: block; }

button {
  background: none;
  border: 0; }

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto; }

.page {
  width: 100%;
  min-width: 320px;
  position: relative; }

.header-menu {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.search-block {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
  z-index: 10; }
  .search-block label {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-family: "Arbutus Slab", serif;
    margin: -40px 0 40px 0;
    font-size: 1.2rem; }

.search-block_active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1; }

.search {
  width: 320px;
  padding: 20px 10px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000207;
  color: #000207; }
  .search::-webkit-input-placeholder {
    color: #000207; }
  .search::-moz-placeholder {
    color: #000207; }
  .search:-ms-input-placeholder {
    color: #000207; }
  .search::-ms-input-placeholder {
    color: #000207; }
  .search::placeholder {
    color: #000207; }
  .search:focus {
    outline: none; }
  @media only screen and (max-width: 749px) {
    .search {
      width: 200px; } }

.fa-search {
  color: #737373;
  padding: 10px 0;
  width: 100px !important;
  border: 0;
  font-size: 1rem;
  margin: 0 20px 0 0px;
  cursor: pointer; }
  .fa-search span {
    margin: 0 10px; }

.menu-wrapper {
  background: #000207;
  padding: 30px 50px 30px 50px;
  top: 0;
  left: -360px;
  width: 360px;
  min-width: 320px;
  height: 100vh;
  color: #fff;
  position: fixed;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 9; }
  @media only screen and (max-width: 749px) {
    .menu-wrapper {
      overflow-y: scroll;
      overflow-x: hidden; } }

.mobile-btn {
  font-size: 2rem;
  margin: 20px; }

.nav-btn_close {
  margin: 0 0 70px 10px;
  width: 100%;
  text-align: right; }
  .nav-btn_close i {
    color: #fff; }

.main-menu_title {
  margin: 25px 0; }
  .main-menu_title h2 {
    letter-spacing: 1.5px;
    font-family: "Arbutus Slab", serif; }

.main-menu_text {
  line-height: 25px; }
  .main-menu_text p {
    font-family: "Raleway", sans-serif;
    color: #818181; }

.main-menu_socials {
  margin: 30px 0;
  border-bottom: 1px solid #818181; }
  .main-menu_socials ul li {
    display: inline-block;
    margin: 10px 20px 40px 0; }
    .main-menu_socials ul li i {
      color: #818181;
      font-size: 1.1rem; }
      .main-menu_socials ul li i:hover {
        color: #168a65; }

.main-menu ul li {
  font-family: "Arbutus Slab", serif;
  margin: 15px 0;
  font-size: 1.3rem; }
  .main-menu ul li a {
    color: #fff; }

.swipe-menu_left {
  width: 50px;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 310px;
  z-index: 20; }

.swipe-menu_right {
  width: 50px;
  height: 90vh;
  position: fixed;
  top: 10vh;
  left: 0px;
  z-index: 20; }

.content-header {
  width: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content-header_socials {
  padding: 22px 0 0 0; }
  .content-header_socials ul li {
    display: inline-block;
    margin: 0 15px; }
    .content-header_socials ul li i {
      font-size: 1.1rem;
      color: #c8c8c8; }
      .content-header_socials ul li i:hover {
        color: #168a65; }

.header-title {
  padding: 26px 0 0 0; }
  .header-title h1 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 10px; }
    @media only screen and (max-width: 749px) {
      .header-title h1 {
        font-size: 1.2rem; } }

.header-sub-title {
  padding: 30px 0 0 0; }
  .header-sub-title h2 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: .8px;
    color: #c8c8c8; }
    @media only screen and (max-width: 749px) {
      .header-sub-title h2 {
        padding: 0 40px; } }

.page-cards,
.gallery-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0 0 0; }

.card {
  width: 320px;
  max-width: 320px;
  margin: 0 5px 50px 0; }
  @media only screen and (max-width: 749px) {
    .card {
      margin: 0 10px 50px 10px; } }

.card-block {
  position: relative;
  padding: 300px 10px 50px 10px; }
  .card-block:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .card-block:hover > .card-block_inner {
    opacity: 1;
    z-index: 2;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }

.card-hashtag {
  position: relative;
  z-index: 1; }
  .card-hashtag span {
    color: #25F2B1;
    font-family: "Raleway", sans-serif; }

.card-title {
  position: relative;
  z-index: 1;
  margin: 15px 0 0 0; }
  .card-title h3 {
    font-family: "Arbutus Slab", serif;
    font-size: 1.5rem; }

.card-block_inner {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background: #25F2B1;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }
  .card-block_inner span {
    font-family: "Raleway", sans-serif;
    margin: 0 0 30px 0; }
  .card-block_inner h3 {
    font-family: "Arbutus Slab", serif;
    font-size: 1.5rem;
    font-weight: 200; }
  .card-block_inner a {
    color: #fff; }

.card-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px; }

.card-socials ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .card-socials ul li {
    margin: 0 5px; }

.card-date-and-comments {
  font-family: "Raleway", sans-serif; }
  .card-date-and-comments a {
    font-size: .9rem; }
  .card-date-and-comments .link-active {
    color: #25F2B1; }

.load {
  width: 100%;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  text-align: center;
  padding: 27px 0;
  margin: 7px 0 0 0; }
  .load a {
    color: #818181;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: .8rem; }

.content-footer {
  padding: 130px 0 70px 0; }

.footer-sub-title {
  line-height: 25px;
  margin: -7px 0 0 0; }
  .footer-sub-title h2 {
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-size: .7rem;
    letter-spacing: .6px; }

.post-wrapper {
  width: 880px;
  margin: 80px auto 0px auto; }
  @media only screen and (min-width: 750px) and (max-width: 969px) {
    .post-wrapper {
      width: 100%; } }
  @media only screen and (max-width: 749px) {
    .post-wrapper {
      width: 100%; } }

.post-img {
  width: 100%;
  height: 500px; }
  @media only screen and (min-width: 750px) and (max-width: 969px) {
    .post-img {
      height: 200px; } }
  @media only screen and (max-width: 749px) {
    .post-img {
      height: 200px; } }

.post-block {
  padding: 30px 95px; }
  @media only screen and (min-width: 750px) and (max-width: 969px) {
    .post-block {
      padding: 30px; } }
  @media only screen and (max-width: 749px) {
    .post-block {
      padding: 30px; } }

.post-title {
  line-height: 32px; }
  .post-title h3 {
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 1.6rem; }

.post-body {
  margin: 40px 0;
  line-height: 30px; }
  .post-body p {
    text-indent: 40px;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif; }

.post-nav {
  position: relative;
  z-index: 10; }

.post-comments {
  position: relative;
  z-index: 10;
  margin: 50px 0 0 0; }
  .post-comments input {
    width: 100%;
    padding: 50px 20px; }
  .post-comments button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100px;
    outline: 1px solid #25F2B1; }

.nGY2GThumbnail {
  background-color: none !important; }

.nGY2GThumbnailImageTitle {
  text-shadow: none !important; }
